.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 20px;
    justify-content: left;
}

.li1 {
    list-style: none;
    width: 90px;
    transition: transform .1s;
}

.li1:hover {
    transform: scale(0.9);
}

.li1:active {
    transform: scale(0.8);
}

.imgHtml {
    width: 90px;
  }

h3 {
    text-align: center;
    font-size: large;
    margin-top: 0px;
}

@media (max-width: 1040px) {
    .grid {
        margin-right: 20px;
    }
  }