.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    justify-content: left;
}

.li1 {
    list-style: none;
    width: 300px;
    transition: transform .2s;
}

.li1:hover {
    transform: scale(1.02);
}

.imgweb1 {
    width: 300px;
    border-radius: 10px;
  }

.h3web1 {
    text-align: center;
    font-size: large;
    margin-top: 0px;
}

@media (max-width: 1040px) {
    .grid {
        grid-template-columns: repeat(auto-fill, 280px);
    }
    .imgweb1 {
        width: 280px;
    }
    .li1 {
        width: 280px;
    }
  }